# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
build/

# IDE
.idea/
.vscode/
*.iml

# Generated
**/generated_plugin_registrant.dart

# Flutter-generated local plugin metadata and desktop build files
/.flutter-plugins
/.flutter-plugins-dependencies
/linux/flutter/ephemeral/
/macos/Flutter/ephemeral/
